
.idea/
.lift/

*.BAK
*.class
*.iml
*.org 
*.zip
*.png
*.jpg
*.jpeg

out/
res/
.git_/

test*.java
Test*.java

w1/percolation/InteractivePercolationVisualizer.java
w1/percolation/PercolationVisualizer.java

w2/Queues/src/YaQueue.java
